---
import "../styles/global.css";
import { SquarePen, Trash2 } from "@lucide/astro";

const API = import.meta.env.PUBLIC_API_URL || "http://localhost:3000/todos";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>To Do List</title>
  </head>
  <body
    class="bg-gray-100 text-gray-900 flex flex-col items-center justify-start min-h-screen p-10"
  >
    <section
      id="app"
      class="bg-white flex flex-col gap-4 items-center p-6 rounded shadow-md w-full max-w-7xl"
    >
      <h1 class="text-4xl font-bold">Todo App</h1>
      <form
        id="add-todo-form"
        class="flex gap-2 w-full"
      >
        <input
          type="text"
          name="task"
          id="task"
          class="flex-1 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-gray-500/30 focus:border-gray-500/30"
          placeholder="Add a new todo"
          required
        />
        <button
          type="submit"
          id="add-todo-btn"
          class="px-4 py-2 bg-gray-900 text-white rounded-lg text-lg font-semibold"
          >Add Todo</button
        >
      </form>
      <div id="todos-container" class="flex flex-col gap-2 w-full">
        <!-- Todos will be rendered here -->

      </div>
    </section>
  </body>
  <script is:inline define:vars={{ API }}>
    const $ = (id) => document.getElementById(id);

    const todosContainer = $("todos-container");
    const form = $("add-todo-form");

		/**
		 * @component todoCardHTML
		 * @description Generates the HTML for a single todo card.
		 * @param todo - The todo object containing id and task properties.
		 * @returns {string} - The HTML string for the todo card.
		 */
		const todoCardHTML = (todo) => `
    <div class="flex items-center gap-4 p-4 border border-gray-300 rounded-lg shadow-sm">
      <input
        type="checkbox"
        name="${todo.id}"
        id="${todo.id}"
        class="appearance-none h-5 w-5 border border-gray-900 rounded
            checked:bg-gray-800 checked:border-transparent focus:outline-none
            relative flex items-center justify-center
            checked:after:content-['✓'] checked:after:text-white checked:after:text-sm checked:after:font-bold"
      />
      <label for="${todo.id}" class="text-lg">${todo.task}</label>
      <div class="ml-auto flex gap-4">
        <button data-edit="${todo.id}" class="cursor-pointer hover:opacity-70 transition-opacity">
          <img src="/square-pen.svg" alt="Edit" class="w-6 h-6" />
        </button>
        <button data-delete="${todo.id}" class="cursor-pointer hover:opacity-70 transition-opacity">
          <img src="/trash-2.svg" alt="Delete" class="w-6 h-6" />
        </button>
      </div>
    </div>`;

		/**
		 * @function render
		 * @description Renders the list of todos in the todosContainer.
		 * @param todos - An array of todo objects to be rendered.
		 * @returns {void} - Only updates the DOM, does not return a value.
		 */
    const render = (todos) => {
      todosContainer.innerHTML = "";

			todos.forEach((todo) => {
				todosContainer.innerHTML += todoCardHTML(todo);
			});
    };

		/**
		 * @function fetchTodos
		 * @description Fetches the list of todos from the API and renders them.
		 * @returns {Promise<void>} - A promise that resolves when the todos have been fetched
		 */
		const fetchTodos = async () => {
			const res = await fetch(API);
			const todos = await res.json();
			render(todos);
		};

		fetchTodos();
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const input = $("task");
      const valueTask = input.value.trim();

      if (!valueTask) return;

      const res = await fetch(`${API}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ task: valueTask }),
      });

      if (res.ok) {
        input.value = "";
				// Preppend the new todo to the list
				const newTodo = await res.json();
				todosContainer.innerHTML = todoCardHTML(newTodo) + todosContainer.innerHTML;
      }
    });
  </script>
</html>
